@import url("https://fonts.cdnfonts.com/css/helvetica-2");
* {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
}

main {
  max-width: 90dvw;
  margin: 2em auto;
}
.parent {
  outline: 5px solid lightgrey;
  padding: 1rem;
  border-radius: 0.2em;
  margin: 2em 0;
}

.children {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgrey;
  border-radius: 0.5em;
  height: 50px;
}

/* AUTO GRID */
.auto-grid {
  --min-column-size: 15rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--min-column-size), 100%), 1fr)
  );
}

/* FLEX GRID */
.flexible-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.flexible-grid > * {
  flex: 1;
}

/* REEL */
.reel {
  --gap: 1rem;
  display: grid;
  gap: var(--gap);
  grid-auto-flow: column;
  grid-auto-columns: calc(50% - (var(--gap) / 2));
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  -ms-scroll-snap-type: x;
  scroll-padding: var(--gap);
}

.reel > * {
  scroll-snap-align: start;
}
